body {
	background-color: #ffdead;
	font-family: Tahoma, Helvetica, sans-serif;
}

#container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
}

input {
	margin-bottom: 20px;
}

#buttons {
	margin-top: 40px;
}

#result {
	border: 4px solid blue;
	border-radius: 10px;
	text-align: center;
	width: 30%;
	min-height: 100px;
	margin: 40px auto 0;
	font-size: 3em;
	color: blue;
	padding-top: 40px;
}